<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.studymperf">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".step_count.ActivityStepCountPieChart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".data_collection.ActivityPieChartDataCollection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".location.ProductivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StackedBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RightWristActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLeftWrist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/MaterialDrawerTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceStudy"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceMCerebrum"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.main.ActivityYouTube"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1cad146ed866fa3d49c3bc8376ff52af7d9970da" />

    </application>

</manifest>